.ui.input > input{
  border-radius: 0 0 2px 2px !important;
  width: 300px;

}
.ui.action.input{
  margin-left:25%;
}
.ui.icon.button{
  border:1px solid rgba(41,39,35,0.37);
  width: 40px;
}

/*******************************/
.ui.button{
  padding: 0;
  margin-right: 10px;
  padding-top: 8px;
}

